.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 400px;
}

.searchBar input[type="text"] {
  width: 100%;
  max-width: 400px;
  height: 20px;
  border-radius: 6px;
  padding: 12px;
}
.searchBar button {
  margin-left: 10px;
  width: 100%;
  max-width: 200px;
  height: 48px;
  color: rgb(228, 220, 220);
  background-color: rgb(110, 106, 98);
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
}
.searchBar__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.searchBar__title p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(255, 247, 235);
}
